resources/
**/dist-newstyle/
**/_minted-masterarbeit/
README.pdf
README.tex
doc/masterarbeit.pdf
doc/masterarbeit.tex
**/*.local
**/*.local~
**/*.bbl
**/*.blg
**/*.rej
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.bcf
**/*.out
**/*.xml
**/*.xdv
**/*.toc
**/*~
**/*.agdai
**/.history
**/auto/
**/ltximg/
**/result
**/dist/
TAGS
.envrc
