resources/
**/dist-newstyle/
**/_minted-masterarbeit/
**/*.pdf
**/*.tex
**/*.local
**/*.local~
**/*.bbl
**/*.blg
**/*.rej
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.agdai
**/auto/
**/ltximg/
TAGS
.envrc
