resources/
**/dist-newstyle/
**/_minted-masterarbeit/
**/_minted-slides/
README.pdf
README.tex
**/*.local
**/*.local~
**/*.bbl
**/*.blg
**/*.rej
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.bcf
**/*.out
**/*.xml
**/*.xdv
**/*.toc
**/*.vrb
**/*.nav
**/*.snm
**/*~
**/*.agdai
**/.history
**/auto/
**/ltximg/
**/result
**/dist/
TAGS
.envrc
